# Dependencies
node_modules/
/dist

# Secrets & Credentials
.env
npm_secrets.txt
npm-debug.log*
yarn-error.log*
.cloudflared/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project specific
server/wrangler.toml.bak
